// @import "~bulma/sass/utilities/initial-variables";
@import "node_modules/@fortawesome/fontawesome-svg-core/styles";

// Config vars


$mainColor: #9c27b0;
$darkerColor: darken($mainColor, 10);
@import "~bulma";


:root {
  --mainColor: #a29bfe;
  --darkerColor: #6c5ce7;
  --green: #4CAF50;
  --gray: #333;
  --grey: #333;
  --borderRadius: 10px;
  --boxShadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);

  --clipPath: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0% 100%);

--clipPathTriangle: polygon(15% 0, 17% 15%, 20% 30%, 28% 60%, 40% 90%, 45% 97%, 50% 100%, 85% 0);

--cornerCut: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
}

// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,900,900i&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,900;1,400&display=swap');

@font-face {
  font-family: "SeattleSans";
  src: url("../fonts/SeattleSans.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SeattleSans.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/SeattleSans.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/SeattleSans.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/SeattleSans.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/SeattleSans.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/SeattleSans.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

p {
  margin-bottom: 1.15rem;
}

a {
  color: var(--mainColor);

  &:hover {
    color: var(--darkerColor);
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
  font-weight: 900;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

hr {
  background: #333 !important;
  height: 5px;
  width: 80%;
  margin: 5rem auto;

  position: relative;
  border-radius: 3px;

  &.or {
    overflow: visible;

    &:after {
      content: "OR";
      font-size: 1rem;
      background: #fff;
      color: #333;
      border-radius: 3em;
      height: 3em;
      width: 3em;
      border: 3px solid #333;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
